<?xml version="1.0"?>
<launch>

   <arg name="lidar_name"/>
   <arg name="lidar_model"/>
   <arg name="robot_name"/>
   <arg name="points_topic"/>
   <arg name="connection"/>
   <arg name="ip" if="$(eval arg('connection') == 'ethernet')"/>
   <arg name="port" if="$(eval arg('connection') == 'ethernet')"/>

   <group if="$(eval arg('model') == 'tim551')">

      <node pkg="sick_tim" type="sick_tim551_2050001" name="driver">
         <remap from="points" to="$(arg points_topic)" />
         <param name="hostname" value="$(arg ip)" if="$(eval arg('connection') == 'ethernet')"/>
         <param name="port" value="$(arg port)" if="$(eval arg('connection') == 'ethernet')"/>
         <param name="frame_id" value="$(arg robot_name)/$(arg lidar_name)_link"/>
      </node>

   </group>

</launch>
