<?xml version="1.0"?>
<launch>

   <arg name="lidar_name"/>
   <arg name="robot_name"/>
   <arg name="ip"/>
   <arg name="port" default=""/>
   <arg name="scan_topic"/>

  <node pkg="lms1xx" type="LMS1xx_node" name="driver">
     <remap from="scan" to="$(arg scan_topic)" />
     <param name="host" value="$(arg ip)"/>
     <param name="port" value="$(arg portx)"/>
     <param name="frame_id" value="$(arg robot_name)/$(arg lidar_name)_link"/>
  </node>

</launch>
